<tr class="item">
	<td>
		<input class="bulk-select-checkbox exportCheckbox" type="checkbox"
			   name="checkbox-{{ row.id }}" value="{{ row.id }}"/>
	</td>
	<td>
		<a href="{{ path('sylius_admin_order_show', {'id': row.order.id }) }}">{{ row.order.number }}</a>
	</td>
	<td>
		{% block address %}
			{% if row.order.shippingAddress.company %}
				{{ row.order.shippingAddress.company }},
			{% endif %}
			{{ row.order.shippingAddress.firstName }}
			{{ row.order.shippingAddress.lastName }},
			{{ row.order.shippingAddress.street }},
			{{ row.order.shippingAddress.postcode }}
			{{ row.order.shippingAddress.city }},
			{{ row.order.shippingAddress.countryCode }}
		{% endblock %}
	</td>
	<td>
		{{ row.order.customer.email }}
	</td>
	<td>
		{{ row.order.shippingAddress.phoneNumber }}
	</td>
	<td>
		{{ row.order.checkoutCompletedAt|date }}
	</td>
	<td>
		<div class="ui labeled icon top right floating dropdown button primary link"
			 tabindex="0">
			<i class="icon download"></i>
			<span class="text">{{ 'mango-sylius.ui.shippingExport.downloadCsvButton'|trans }}</span>
			<div class="menu left transition hidden" tabindex="-1">
				<a class="item"
				   href="#"
				   onclick="downloadCsv(this, 0, {{ row.id }})"
				   data-url="{{ path('mango_sylius_admin_export_shipments', {'exporterName': exporterName}) }}">
					<i class="icon download"></i>
					{{ 'mango-sylius.ui.shippingExport.onlyDownloadCSV'|trans }}
				</a>
				<a class="item"
				   href="#"
				   onclick="downloadCsv(this, 1, {{ row.id }})"
				   data-change-state-url="{{ path('mango_sylius_admin_change_state_shipments', {'exporterName': exporterName}) }}"
				   data-url="{{ path('mango_sylius_admin_export_shipments', {'exporterName': exporterName}) }}">
					<i class="icon download"></i>
					{{ 'mango-sylius.ui.shippingExport.downloadCSVAndSend'|trans }}
				</a>
			</div>
		</div>
	</td>
</tr>
